/*common mock up*/
body {
  font-family: Verdana,serif;
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
}
/*main header*/
.header-main {
  font-weight: normal;
  font-size: 50px;
}
/*subheader*/
.header {
  font-wight:300;
  font-size: 42px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

.description {
  font-size: 21px;
  color: gray;
}
/*footer*/
.footer {
  color: gray;
  text-align: right;
}
